mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePic, alt="user's profile picture")
        .textareaContainer 
            textarea#postTextarea(placeholder="What's good in the hood?")
            .buttonsContainer
                button#submitPostButton(disabled="") Post

mixin createReplyModal(userLoggedIn)
    #replyModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='replyModalLabel' aria-hidden='true' style="padding:0 0 0 0")
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#replyModalLabel.modal-title Reply
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    #originalPostContainer
                    .postFormContainer
                        .userImageContainer
                            img(src=userLoggedIn.profilePic, alt="user's profile picture")
                        .textareaContainer 
                            textarea#replyTextarea(placeholder="What's good in the hood?")
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#submitReply.btn.btn-primary(type='button', disabled="") Reply

mixin createImageUploadModal()
    #imageUploadModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='imageUploadModal' aria-hidden='true' style="padding:0 0 0 0")
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#imageUploadModalLabel.modal-title Upload new profile picture
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    input#filePhoto(type="file" name="filePhoto")
                    
                    .imagePreviewContainer
                        image#imagePreview
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
                    button#imageUploadButton.btn.btn-primary(type='button') Save

mixin createCoverPhotoUploadModal()
    #coverPhotoUploadModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='coverPhotoUploadModal' aria-hidden='true' style="padding:0 0 0 0")
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#coverPhotoUploadModalLabel.modal-title Upload new cover photo
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    input#coverPhoto(type="file" name="filePhoto")
                    
                    .imagePreviewContainer
                        image#coverPreview
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
                    button#coverPhotoUploadButton.btn.btn-primary(type='button') Save

mixin createpinPostModal()
    #pinPostModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='pinPostModalLabel' aria-hidden='true' style="padding:0 0 0 0")
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#pinPostModalLabel.modal-title Pin your post
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p Would you like to pin this post?
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#submitPinPost.btn.btn-primary(type='button') pin it!

mixin createUnpinPostModal()
    #unpinPostModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='unpinPostModalLabel' aria-hidden='true' style="padding:0 0 0 0")
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#unpinPostModalLabel.modal-title unPin your post
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p Would you like to unPin this post?
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#submitUnpinPost.btn.btn-primary(type='button') remove

mixin createChatNameModal(chat)
    #chatNameModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='chatNameModalLabel' aria-hidden='true' style="padding:0 0 0 0")
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#chatNameModalLabel.modal-title Name your chat
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    input#chatNameTextBox(type="text", placeholder="Enter a name for this chat", value=chat.chatName)
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#submitChatName.btn.btn-primary(type='button') create

mixin createDeletePostModal()
    #deletePostModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='deletePostModalLabel' aria-hidden='true' style="padding:0 0 0 0")
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#deletePostModalLabel.modal-title Delete Post
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p You won't be able to delete this.
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#submitDelete.btn.btn-primary(type='button') Delete

mixin createPostModals(userLoggedIn)
    +createReplyModal(userLoggedIn)
    +createDeletePostModal()
    +createpinPostModal()
    +createUnpinPostModal()

mixin createFollowButton(user,isFollowing)
    - text = isFollowing? "following":"follow";
    - buttonClass = isFollowing? "followButton following":"followButton";
    button(class=buttonClass, data-user=user._id) #{text}

mixin createTab(name,href,isSelected)
    - className = isSelected? "tab active": "tab";
    a(href=href class=className)
        span #{name}

mixin createChatImage(chatData, userLoggedIn)
    if(!chatData)
        return 
    - let i = 0
    - let maxImagesToShow = 3
    - let remainingUsers = chatData.users.length - maxImagesToShow 
    - remainingUsers--//removing our own image
    .chatImagesContainer 
        if remainingUsers > 0
            .usersCount 
                span +#{remainingUsers}
        each user in chatData.users 
            if chatData.users.length != 1 && user._id == userLoggedIn._id 
                - continue
            else if i>= maxImagesToShow 
                -break
            img(src=user.profilePic, alt="user profile pic", title=user.firstName)
            - i++